$categories: (
 ionic: map-get($colors, primary),
 free_event: #00FF00,
 ticket_required: #FF0000
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-item-content {
       border-left: 4px solid $value;
       padding: 10px; 
     padding-left: 10px;
   }
  }
}
